.pageNotFound {
    color: white;
    text-align: center;
}

.notFoundMsg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notFoundMsg h1 {
    margin-top: 100px;
}

.notfoundimg {
    object-fit: cover;
    height: 90vh;
    width: 100%;
    position: relative;
}
