:root {
    --navbarBG: rgb(42, 42, 42);
    --letterColor: white;
    --graduationBG: rgb(59, 59, 59);
}

.techStack {
    background-color: #00030f;
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.techIntroduction {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.techIntroduction h1 {
    margin-bottom: 55px;
}

.techIntroduction h4 {
    width: 45%;
    display: grid;
    place-self: center;
    color: rgb(168, 168, 168);
    font-size: 25px;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.sectionMessage {
    width: 100%;
    text-align: center;
    margin: 40px 0 10px 0;
}

.sectionMessage h2 {
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--letterColorAction);
    font-size: 30px;
}

.techHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: -50px;
    font-size: 20px;
}

.techHeader svg {
    font-size: 22px;
}

.skilltech {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.skilltech p {
    width: 100%;
    box-sizing: border-box;
    transition: letter-spacing 600ms ease;
    overflow-wrap: anywhere;
}
.skilltech p:hover {
    letter-spacing: 2px;
}
