:root {
    --navbarBG: rgb(42, 42, 42);
    --letterColor: white;
}

footer {
    position: relative;
    background-color: var(--navbarBG);
    color: white;
    height: 570px;
    text-align: center;
    border-top: 3px solid var(--letterColorMain);
    transition: 600ms;
    padding: 30px !important;
}

footer:hover {
    border-top: 3px solid var(--letterColorAction);
}

footer .iconsFooter {
    margin-top: -80px;
}

footer .navActions {
    margin-top: 140px;
}

footer .logo {
    margin-top: 50px;
    width: 20%;
    height: 20%;
}

.msg {
    position: relative;
    margin-top: 50px;
}

.msg .rights {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
}

@media (max-width: 500px) {
    .msg .rights {
        margin-top: 15px;
    }
}
